<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Beranda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 <img src="assets/logo perpuus.jpg" alt="Logo Perpustakaan" width="150">

  <h2>Selamat Datang di Aplikasi Perpustakaan</h2>
  <p>
    Aplikasi ini digunakan untuk mencatat, menyimpan, dan melihat daftar buku di perpustakaan dengan mudah dan cepat.
  </p>

  <h3>Menu Cepat</h3>

  <ion-button expand="block" color="success" routerLink="/tabs/tab2">
    PENDATAAN BUKU
  </ion-button>

  <ion-button expand="block" color="secondary" routerLink="/tabs/tab3">
    Tentang Perpustakaan
  </ion-button>

  <ion-button expand="block" color="tertiary" routerLink="/tabs/tab4">
    DATA BUKU
  </ion-button>

</ion-content>